.categories-filters {
  padding: 10px;
  width: 250px;
  border-right: 1px solid #ddd;
}

.categories h3,
.filters h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.categories button,
.filters button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  transition: 0.3s;
}

.categories button.selected {
  background-color: #007bff;
  color: white;
}

/* Slider */
.price-slider {
  margin: 10px 0;
  width: 100%;
}

.price-values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* Restul filtrelor */
.filters .filter-group {
  margin-bottom: 15px;
}

.filters label {
  display: block;
  margin-bottom: 5px;
}

.apply-filters-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.apply-filters-button:hover {
  background-color: #218838;
}

.analytics-button {
  margin-top: 20px;
  text-align: center;
}

.navigate-analytics-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigate-analytics-button:hover {
  background-color: #0056b3;
}